/* Chromatones CSS styles*/

@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

body {
  font-family: 'Anonymous Pro', sans-serif;
  color: #707070;
}

main {
  max-width: 1440px;
  margin: 0 260px;
  margin-top: 40px;
}

main section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

section div {
  width: calc(100%/3);
  padding: 6px 12px;
}

img {
  width: 100%;
  filter: grayscale(1);
  opacity: .5;
}

img:hover {
  filter: none;
  opacity: 1;
  background-image: url("img/gifs/01--Fuzz_Animation.gif");
}

.img:hover .fuzz {
  background-image: url("img/gifs/01--Fuzz_Animation.gif");
}

footer {
  margin: 40px 220px 20px;
  display: flex;
  justify-content: space-between;
}

button {
  background: none;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #707070;
  padding: 20px 10px;
}


  /* layout responsivo - 2 colunas */
@media screen and (max-width: 768px) {
  section div {
    width: calc(50%);
    /* flex: 50%; */
    /* max-width: 50%; */
  }
}