/* Chromatones CSS styles*/

@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');


body {
  font-family: 'Anonymous Pro', sans-serif;
  color: #707070;
}

main {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 200px;
}

main section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

section div {
  width: calc(100%/3 - 36px);
  margin: 18px;
  box-sizing: border-box;
}

main section div {
  /* display: block; */
  position: relative;
}

img[src$=".gif"] {
  position: absolute;
  left: 0;
  top: 0; 
  opacity: 0;
}

img[src$=".gif"]:hover {
  opacity: 1;
  cursor: pointer;
}

img[src$=".gif"]:hover ~ img[src$=".png"] {
  visibility: hidden;
  cursor: pointer;

}

img {
  width: 100%;
}

footer {
  margin: 40px 220px 20px;
  display: flex;
  justify-content: space-between;
}

button {
  background: none;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #707070;
  padding: 20px 10px;
}


  /* layout responsivo - 2 colunas */
@media screen and (max-width: 768px) {
  section div {
    width: calc(50%);
  }
}